@charset "utf-8";
/*
********************************************************************************
■ 共通
********************************************************************************
*/
.area-main-image {
	display: none;
}
.area-banner-seminar {
	display: none;
}
#maincontent .sec-title {
	margin-bottom: 30px;
}
/*
********************************************************************************
■ Fix 2016-05-10
********************************************************************************
*/
.pc_none{
	display: none;
}