@charset "utf-8";
/* CSS Document */


/********************************************/
/**********  MODULE VERTICAL ****************/
/********************************************/

#vertical_module{
	width:100%;
}

#title_module {
	width:auto;
}


#content_vertical_module {
	width:auto;
}

/********************************************/
/**********  MODULE HORIZONTAL **************/
/********************************************/

.main_module_content{
	width:100%;
	height:auto;
	padding:10px 0px 10px 0px;
	text-align:center;
}

.event {
	width:300px;
	text-align:left;
}

.event_info {
	width:202px;
	font-size:8pt;
}

.event_info span {
	font-size:8pt;
	padding:1px 0 0 0;
}
