<h2 id="st3-1" class="sec-title">オーストラリア</h2>
	<p class="country-name-img"><img src="../images/step1-coun01.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_2">
    <p class="text01">
    ワーキングホリデーで最も人気の国です。地球上でもっとも小さな大陸でありながら世界で6番目に大きな国がオーストラリアです。550以上の国立公園と16の世界遺産との神秘的な自然が多いのが特徴です。　自然環境は厳しく保護されていてオーストラリア独特の動物、コアラやウォンバット、カンガルー、ワラビーだけでなく、世界に12000種あるワイルドフラワーのうち8000種は西オーストラリアに棲息しているほど独特の自然環境を持っています。　壮大な空が都市にもかぶさり最大の都市シドニーにも青い空と白い砂浜があなたを迎えてくれます。　歴史が浅い国で200年ちょっとしかたっていないので3代までさかのぼるとほぼ全員が移民になると言われるほど移民が多く非英語圏の居住者も多い。　オーストラリアの高校生の第二言語学習では日本語がフランス語とともにトップ、輸出先としても日本は重要なので親日家も多い。　ワーキングホリデー協定国でいちばん夏が長くその気候を楽しむサーフィン、ビーチBBQやハウスパーティなど日本では体験できないライフスタイルは是非体験しよう。
    </p>
    <p class="text01">
    最低時給はセクターによって異なるが、日本よりも高く、レストランや農場では＄19.49（2019年12月10日現在）だ。観光立国なので日本人が日本語を使って観光客相手に働く職場も多く、仕事が見つけやすい点は渡航しやすさにもつながっているだろう。　ただ日本食レストランで1年間終わってしまうと英語の上達スピードは落ちるので努力してほしい。　食料自給率が260％もあるオーストラリアでは農場で3カ月働くと2年目のセカンドワーホリがもらえる唯一の国でもある。農場で働いただけで100万円貯金するワーホリも多い。
    </p>
    <p class="text01">
    オーストラリアワーキングホリデー達の特徴として働いて貯金すると1周旅行(ラウンド）や他の街に引っ越しをする人も多いです。
    </p>
    <p class="text01">
    日本との時差が1～2時間で成田空港と関西空港からも格安航空会社LCC（Low Cost Carrier）が出航しておりさらにセールの時は１人分の料金で２人分の航空券などとすごく安く手に入る。
    </p>
    <p class="text01">
    暖かい気候に誘われて外出する事も多く、週末はビーチ、平日もカフェと友好関係が広がる機会は多く年齢や人種を超えた友人ができるだろう。さらに現地では「ワーホリ恋のチケット3枚」と言われるほど異性との出会いも多く年齢、人種、見た目を超えた日本では考えられない出会いも、恋愛も楽しんでほしい。
    </p>
    <p class="text01">
    スポーツはクリケットやラグビーが盛んだがヨーロッパからの移民が多いためサッカーのAリーグも盛ん。サーフィンの世界大会が行われるほどビーチが多く波は厚く良質。ボディーボードやサーフィンの中古を１万円ほどで購入し始めるワーホリも多い。サーフィンは毎日行ってもお金がかからないので良い遊びになるだろう。日本にいるよりも上達する。シドニー、ゴールドコースト、パースではビーチが数えられないほどあり、あまり知られていないが冬の期間はスノボも楽しめる。　F1レースやインディーカーレース、バイクの世界大会や野球のマイナーリーグなどのスポーツも盛ん。
    </p>
	</div><!-- /#areaStep1_2 -->
  <p>&nbsp;</p>
	<p class="text01">
	<a href="http://www.jawhm.or.jp/wh/australia/">オーストラリア</a>のワーキングホリデー情報は、こちらもご確認ください。
	</p>
	<div class="display-calendar">
		<div class="display-calendar-title">
		<span>ワーキングホリデーのオススメセミナー</span>
		</div>      <?php 
            //settings for the calendar module display
            $country_to_display = 'オーストラリア';
            $number_to_display = '2';
            $start_display_from = ''; //empty is begining
            
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
      ?>
	  <div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>
	<a class="step3_link_orange" href="/country/#li-aus">オーストラリアの情報をもっと見る</a>
	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>