<h2 id="st3-18" class="sec-title">オーストリア</h2>
		<p class="country-name-img"><img src="../images/step1-coun16.png" alt="" /></p>
	  <div class="area-accordion" id="areaStep1_12">
	    <p class="text01">
	    ヨーロッパのほぼ中央に位置するオーストリアは、8 つの国に囲まれる内陸国です。国土は日本の約 4 分の１程ですが、 そのほとんどがアルプスの美しく壮大な自然に包まれています。高原にはいくつもの湖があり、その大自然の美しさはヨー ロッパでも随一と言われます。
		</p>
	    <p class="text01">
	    オーストリアの公用語はドイツ語です。これは、元々オーストリアとドイツが同じ 1 つの国だった事が理由です。ただ、 ドイツで使われているドイツ語とは若干の違いがあり、細かく分類すると「オーストリアドイツ語」として扱われます。
	    </p>
	    <p class="text01">
	    オーストリアは上記のように公用語がドイツ語であるため、ドイツ語留学の渡航先として人気があります。特にオースト リアは音楽分野に長けているので、留学しながら音楽を学びたい、音楽に触れあいたいと考えている人にオススメされま す。
	    </p>
	    <p class="text01">
	    オーストリアは湿度の低い大陸性気候なので、夏は気温が高く、冬には激しく冷え込みます。渡航にオススメなのは 4 月 から 8 月にかけて。天候的に暖かく過ごしやすい日が続き、春の音楽祭などのイベントも開催されます。だたし、日中と 日没後では気温差が激しいので注意が必要です。
	    </p>
	    <p class="text01">
	    オーストリアの首都　ウィーンは「音楽の街」「楽都」と呼ばれるほどに音楽が盛んな街です。クラシックコンサートや 音楽祭はもちろん、有名なウィーン少年合唱団や、国立オペラ座でのオペラも見所です。また、モーツァルト、シューベ ルト、ハイドンなど、数多くの有名作曲家を生み出した国でもあり、街の至る場所で彼らも足跡を辿ることができます。
	    </p>
	    <p class="text01">
	    オーストリアに点在する数多くの歴史ある劇場では、今でも世界最高峰のオペラやバレエ、コンサートが上映されていま す。1 年を通して様々な演目が上映されるので、ワーキングホリデーや留学で滞在中にいくつの演目を見ることが試して みるのもいいかもしれません
	    </p>

	  </div><!-- /#areaStep1_13 -->

		<div class="display-calendar">
			<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
			</div>      
			<?php 
	            //settings for the calendar module display
	            $country_to_display = '';
	            $number_to_display = '2';
	            $start_display_from = '20'; //empty is begining
	            
				display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
			?>
			<div class="img-calendar-display">
				<img src="images/calendar-display.png">
			</div>
		</div>
		<a class="step3_link_orange" href="/country/#li-aut">オーストリアの情報をもっと見る</a>
		<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
	<?php include('./step/memline.php'); ?>