<h2 id="st3-9" class="sec-title">デンマーク</h2>
	<p class="country-name-img"><img src="../images/step1-coun09.gif" alt="" /></p>
  <div class="area-accordion">
    <p class="text01">
    スカンジナビア半島、北欧諸国で南に位置するデンマーク。近年ではデザインの国として北欧家具や北欧雑貨が人気を集めている。デザインは街並みにも反映されており美しい自然と可愛い建物が並ぶ風景はおとぎの国のイメージだ。　田舎の風景も田園に古城と風車が点在してまるでミニチュアを作ったようだ。　一番高い標高でも173mしかなく国全体全体がなだらかで歩きやすい。そのためエコ先進国として普及している自転車も乗りやすくは本当に多く見かけるだろう。　デンマークでの自転車の多くはペダルブレーキなのでハンドルにペダルが付いていない。日本人には慣れるまで注意が必要だ。　国王制なので日本の天皇家と交流があり親日国家とも言える。童話アンデルセンとレゴ発祥地というのも納得だ。
    </p>
  </div><!-- /#areaStep1_10 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
		</div>        
		<?php 
            //settings for the calendar module display

            $country_to_display = 'デンマーク';
            $number_to_display = '4';
            $start_display_from = ''; //empty is begining
            
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
		?>
		<div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>
	<a class="step3_link_orange" href="/country/#li-dnk">デンマークの情報をもっと見る</a>

	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>