<h2 id="st3-6" class="sec-title">ドイツ</h2>
	<p class="country-name-img"><img src="../images/step1-coun06.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_7">
    <p class="text01">
    2011年の日本人サッカー選手の活躍でドイツサッカーをテレビで見ない週はないほどサッカーが盛り上がっている。　古いお城や宮殿が点在しており、美しい街並みに浸りながらビールとソーセージを堪能できる。　　環境問題に対する意識が非常に高くリサイクル活動も徹底している。ヨーロッパで1番の工業国で、ドイツの経済状況がユーロの値打ちに直結しているともいえる。　良く日本人に似ていると言われるほど勤勉で大学の学費は留学生でも安い。　若者を育てるために宿泊させるユースホステルや農業体験を経験させるウ―フWWOOFの発祥の地。　ベルリンの壁の崩壊やアウシュビッツなど現在のドイツを形成する上で大きな影響をもたらした歴史は必ず知っておこう。中世の歴史も知っておくとお城や音楽家の生家など感動する場面も多くなるだろう。　　地域によっては日本人が住まない方がよい治安の場所もあるので注意。
    </p>
    <p class="text01">
    音楽、建築系で留学する人も多いが留学前の語学学校に通うためにドイツワーキングホリデービザを使う人もいる。　有名なロマンティック街道や10月のビール祭りオクトーバーフェスト、12月のクリスマス祭りが有名。発音はし易いが単語は多くてこずる
    </p>
  </div><!-- /#areaStep1_7 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
		</div>       
		<?php 
			//settings for the calendar module display
			$country_to_display = 'ドイツ';
			$number_to_display = '2';
			$start_display_from = ''; //empty is begining
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
		?>
		<div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>
	<a class="step3_link_orange" href="/country/#li-deu">ドイツの情報をもっと見る</a>

	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>