<h2 id="st3-11" class="sec-title">香港</h2>
	<p class="country-name-img"><img src="../images/step1-coun11.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_12">
    <p class="text01">
    香港人が自分たちで言うようにうるさいくらい良くしゃべる。飲茶文化を発展させたように外食文化が発展しており、家で料理をしないという家庭で驚いてはいけないキッチンがない家もある。　フリーポートとして日本企業も多く進出しておりそのビル群の夜景は100万ドルの夜景と呼ばれている。　都市部の若者文化は日本と類似しておりウェスタナイズされている。　マンゴーデザート店やドリアンが食べられるように熱帯地方の気候はトロピカルな食べ物が多く、ちょっと田舎方面に出向くとヤシの木やうっそうと茂った草木に都市部では感じられない香港が見える。　大陸中国には電車を利用し陸路で行ける。税関もあるが毎日買い物や仕事で行き来する人もいるほど行き易い。　発展し続ける香港と、今まさに建設ラッシュの中国を見比べるとそのギャップや貧困の差には感じることも多いだろう。　観光都市、アジアの流通ハブとして経済が発展している姿は日本の未来形かもしれない。　古くから中東やインドからの移民、イギリスの植民地時代と移民が多く、いろいろな人種がビジネスを通して英語を使っている。　ビジネスでは英語は出来て当たり前で香港を楽しむためには広東語も勉強しよう。
    </p>
  </div><!-- /#areaStep1_12 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
		<span>ワーキングホリデーのオススメセミナー</span>
		</div>      
		<?php 
            //settings for the calendar module display

            $country_to_display = 'other';
            $number_to_display = '2';
            $start_display_from = '14'; //empty is begining

            
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
		?>
		<div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>

	<a class="step3_link_orange" href="/country/#li-hkg">香港の情報をもっと見る</a>

	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>