<h2 id="st3-8" class="sec-title">アイルランド</h2>
	<p class="country-name-img"><img src="../images/step1-coun08.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_9">
    <p class="text01">
    国土のほとんどが牧草地で、エメラルドの島と呼ばれている。主食がポテトというほどポテトを買い、立ち飲みで入りやすいアイリッシュパブでもチップス（フレンチフライ）とギネスビール（黒ビール）で友達と集まる。アイリッシュパブ発祥の地で、パブの歴史的が非常に深く、ソーシャライズする場、意味は地元の友達を作ったり初めての人と知り合ったりする場として全土にそして世界的にも広がっている。バンドやアンプラグドのライブが行われるのもアイリッシュパブの特徴。ライブでは人気のある曲は店内がカラオケ状態になるほど全員が歌いだす。　どこでものんびりとした田舎暮らしは堪能することができ、その気候や文化から発展した独特のアクセントの強い英語の発音は非常に難しいだろう。そのためか日本人も少なく、アイルランドワーキングホリデーに行く日本人も少ない。
    </p>
  </div><!-- /#areaStep1_9 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
		</div>       
		<?php 
            //settings for the calendar module display

            $country_to_display = 'other';
            $number_to_display = '2';
            $start_display_from = '8'; //empty is begining
            
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
		?>
		<div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>

	<a class="step3_link_orange" href="/country/#li-ire">アイルランドの情報をもっと見る</a>

	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>
