<h2 id="st3-2" class="sec-title">ニュージーランド</h2>
    <p class="country-name-img"><img src="../images/step1-coun02.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_3">
    <p class="text01">
    映画ロードオブザリングやラストサムライの撮影場所に選ばれるなど太古の自然が残っておりゆったりと生活できる。　一番の都市オークランドでもどこでもゆったりとしている。ニュージーランドワーキングホリデーに行く人もゆったりとしているだろう。　多彩なアウトドアアクティビティはニュージーランドの醍醐味だ。ニュージーランドにワーキングホリデーに行くのなら必ず予定に入れておこう。　北島と南島で行き先が分かれ北島のオークランドは都市、南島の中央には「南半球のアルプス山脈」と呼ばれる山がそびえておりフィヨルドが見られるのもここ。アクティビティをしないとニュージーランドとはいえないだろう。
    </p>
    <p class="text01">
    北島も南島も合わせても日本よりも小さく1周旅行でも１カ月もかからず出来るのでぐるっと回る人は多い。　ウィンタースポーツの街クィーンズタウンでは日本の夏に冬になるので夏休みに観光ビザでスノボに行く人も多い。　湖を見下ろしながらのスノボは最高だ。　同一雇用主で1年間働けるのも特徴だが仕事はオークランドに集中している。　農場の仕事を3カ月するとワーホリが3カ月延長できる。
    </p>
  </div><!-- /#areaStep1_3 -->
  <div class="display-calendar">
        <div class="display-calendar-title">
        <span>ワーキングホリデーのオススメセミナー</span>
        </div>      <?php 
            //settings for the calendar module display

            $country_to_display = 'ニュージーランド';
            $number_to_display = '2';
            $start_display_from = ''; //empty is begining

            
            display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
      ?>
      <div class="img-calendar-display">
            <img src="images/calendar-display.png">
        </div>
    </div>

    <a class="step3_link_orange" href="/country/#li-nz">ニュージーランドの情報をもっと見る</a>

    <div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>