<h2 id="st3-14" class="sec-title">ノルウェー</h2>
		<p class="country-name-img"><img src="../images/step1-coun12.gif" alt="" /></p>
	  <div class="area-accordion" id="areaStep1_12">
	    <p class="text01">
	    ノルウェーは「森と山の国」と呼ばれるほど、自然が豊かな国だ。特に美しいフィオルドや、数々の渓谷は人々の心を魅 了し続けている。そしてノルウェーの大きな特徴といえば、白夜の存在だろう。夏の期間は地球の公転の関係で、一日の 日照時間が長くなる。その結果、夜になっても太陽が沈まない日ができるのだ。意外と知られていないが冬になると逆の 現象が起き、一日中太陽が昇らない日もある。ノルウェーへ渡航する際は環境違いに気をつける必要がある
		</p>
	    <p class="text01">
	    ノルウェーは男女平等が進んでいる国としても有名だ。女性の参政権が認められたのは 1913 年と早く、世界でも先駆者 的な立ち位置にいる。また、国民一人当たりに対する GDP（国内総生産）も世界 2 位と高く、とても住みやすい国とい えるだろう。また、首都オスロをはじめ数多くの観光地が点在しており、ムンクの「叫び」など有名な美術品・建築物を 楽しむために、世界各地から観光者が訪れている。
	    </p>
	  </div><!-- /#areaStep1_13 -->
		<div class="display-calendar">
			<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
			</div>      
			<?php 
	            //settings for the calendar module display
	            $country_to_display = '';
	            $number_to_display = '2';
	            $start_display_from = '20'; //empty is begining
	            
				display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
			?>
			<div class="img-calendar-display">
				<img src="images/calendar-display.png">
			</div>
		</div>
		<a class="step3_link_orange" href="/country/#li-nor">ノルウェーの情報をもっと見る</a>
		<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
	<?php include('./step/memline.php'); ?>