<h2 id="st3-15" class="sec-title">ポーランド</h2>
		<p class="country-name-img"><img src="../images/step1-coun13.png" alt="" /></p>

	  <div class="area-accordion" id="areaStep1_12">

	    <p class="text01">
	    ポーランドは通称「Heart of Europe ( ヨーロッパの心臓 )」とも呼ばれる、地理的 / 文化的に東西ヨーロッパの懸け橋 になっている国です。国名の語源である「平原」が示す通り、国土には大草原が広がっています。そしてそれだけではな く、ポーランドには原生林を始め、美しいバルト海の海岸、氷河時代から存在する湖水地帯、さらには砂丘地帯も存在し ており、様々な姿の自然を体験することができるでしょう。
		</p>
	    <p class="text01">
	    ポーランドはショパンを始め、キュリー夫人やヨハネ・パウロ 2 世といった数多くの著名人 / 芸術家 / 音楽家を生み出し ました。また、ヨーロッパの中心に位置する為、数々の歴史的な出来事の舞台にもなっており、その歴史をたどるツアー やショーが人気を博しています。
	    </p>
	    <p class="text01">
	    ポーランド人のルーツとされる古代サルマチア人にはとにかく客人をもてなす文化があり、現在のポーランド人にもその 心得が息づいています。
	    </p>
	    <p class="text01">
	    日本と同じ様に、ポーランドにも四季があります。西部は比較的温暖で、東部は涼しげな内陸性気候です。日本とのポー ランドの大きな違いは気温で、日本と比べると 10 度程度気温が低いです。夏場も日中は気温が上がりますが、日が落ち ると長袖が必要になります。
	    </p>

	  </div><!-- /#areaStep1_13 -->

		<div class="display-calendar">
			<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
			</div>      
			<?php 
	            //settings for the calendar module display

	            $country_to_display = 'other';
	            $number_to_display = '2';
	            $start_display_from = '17'; //empty is begining

	            
				display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
			?>
			<div class="img-calendar-display">
				<img src="images/calendar-display.png">
			</div>
		</div>
		<a class="step3_link_orange" href="/country/#li-pol">ポーランドの情報をもっと見る</a>

		<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
	<?php include('./step/memline.php'); ?>