<h2 id="st3-16" class="sec-title">ポルトガル</h2>
		<p class="country-name-img"><img src="../images/step1-coun14.png" alt="" /></p>

	  <div class="area-accordion" id="areaStep1_12">

	    <p class="text01">
	    ポルトガルはヨーロッパの最西に位置する国です。国土が上下に長いので、日本と同じ様に北部と南部で気温が大きく変 わるのが特徴です。内陸部は夏季が非常に暑く、長期にわたるのに対し、冬季は短く、降水量も多くないので、温暖な気 候のリゾート地として高い人気を誇ります。
		</p>
	    <p class="text01">
	    ポルトガルと言えば、南蛮貿易、鉄砲伝来、コンペイトウ、カステラ、ザビエルとキリスト教の布教など、古くから日本 と強い繋がりがあり、多くの影響を与えていました。現在でも日本とポルトガルはいくつかの自治体間で姉妹都市協定を 結んでおり、青年、経済・文化関係者、著名人などのレベルでの交流の促進において特別な関係を構築しています。
	    </p>
	    <p class="text01">
	    ポルトガルはヨーロッパ諸国の中でもっとも言語的統一性の整った国のひとつであり、アソーレス、マデイラ諸島を含む すべての領土においてポルトガル語が公用語として用いられています。英語もお隣のスペインに比べれば通じやすいです が、ポルトガル語の習得は必須です。
	    </p>

	  </div><!-- /#areaStep1_13 -->

		<div class="display-calendar">
			<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
			</div>      
			<?php 
	            //settings for the calendar module display
	            $country_to_display = 'other';
	            $number_to_display = '2';
	            $start_display_from = '20'; //empty is begining
	            
				display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
			?>
			<div class="img-calendar-display">
				<img src="images/calendar-display.png">
			</div>
		</div>
		<a class="step3_link_orange" href="/country/#li-por">ポルトガルの情報をもっと見る</a>

		<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
	<?php include('./step/memline.php'); ?>