<h2 id="st3-4" class="sec-title">韓国</h2>
	<p class="country-name-img"><img src="../images/step1-coun04.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_5">
    <p class="text01">
    日本に一番近く飛行機代も安いので頻繁に帰国できる。　韓国語は日本語と同じ文法なので覚えやすく40個の文字記号の組み合わせですべての文字が書けるので規則を覚えれば習得しやすいが発音は日本語にない音も多く複雑。　最近の韓流ブームの影響で老若男女を問わず日本の観光客が押し寄せている。首都ソウルは全体面積の0.6 %でありながら、全人口の25%が集中する一極集中都市になっている。　時給は300円ほどなので日本から行くワーキングホリデーは働くことを目的としない韓国ワーキングホリデーも多い。その反対に韓国から日本への韓国人のワーキングホリデーは7000人以上が渡日しており、働くことを目的として日本に来る韓国人ワーキングホリデーは非常に多い。
    </p>
    <p class="text01">
    日本ではあまり知られていないが歴史も文化も知るとおもしろい。最近では日本をしのぐほどのＩＴ国家で、家電や携帯は韓国の方がおもしろかったりする。
    </p>
    <p class="text01">
    衣料や食事は安いので生活費はあまりかからない。酒は勧められるままに飲むと危ないかも。。
    </p>
  </div><!-- /#areaStep1_5 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
		</div>      <?php 
            //settings for the calendar module display
            $country_to_display = 'other';
            $number_to_display = '2';
            $start_display_from = '5'; //empty is begining
            
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
      ?>
	  <div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>
	<a class="step3_link_orange" href="/country/#li-kor">韓国の情報をもっと見る</a>
	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>