<h2 id="st3-10" class="sec-title">台湾</h2>
	<p class="country-name-img"><img src="../images/step1-coun10.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_11">
    <p class="text01">
    沖縄から見えるほど近い台湾は熱帯、亜熱帯、温暖気候からなりその温暖な気候と大陸から離れている島なので台湾独特の動植物も多く、台湾でしか見られない動植物をみる事も台湾ワーキングホリデーの楽しみの一つだろう。　グルメの街として日本のテレビでよく紹介されるように中国全域の料理を堪能でき、日本から進出したお店も多い。　台北から高雄には新幹線が走っており台湾が親日家が多い象徴かもしれない。台北市内はMRT（電車）が整備されており移動には便利だ。　治安も良く、物価が安く、気候も暖かい上に親日家が多いので日本人旅行客は多い。　親日家が多いのには歴史的背景がある。　台湾人は日本のことをよく知っているが日本人は台湾のことをあまり知らないのが現状なのでこれから台湾ワーキングホリデーに行く人は台湾がどのように現在に至ったのか、なぜ日本人に好意を抱いてくれているのか歴史や政治からその成り立ちを知っておくべきだろう。　台湾での中国語の勉強をすると日本でするよりも台湾の歴史や人、文化が学べて重ねて勉強になるだろう。お勧めだ。　中国語のアクセントも比較的軽い発音の中国語なので日本人にとっては発音しやすい。　近年では国を挙げてのIT国家が成功していたり中国へのビジネスの足掛かりとして日系企業が台湾企業と提携する例も多く、日本にとっては重要なパートナーとなっている。
    </p>
  </div><!-- /#areaStep1_11 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
		</div>     
		<?php 
            //settings for the calendar module display

            $country_to_display = 'other';
            $number_to_display = '2';
            $start_display_from = '11'; //empty is begining
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
		?>
		<div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>
	<a class="step3_link_orange" href="/country/#li-ywn">台湾の情報をもっと見る</a>
	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>