<h2 id="st3-7" class="sec-title">イギリス</h2>
	<p class="country-name-img"><img src="../images/step1-coun07.gif" alt="" /></p>
  <div class="area-accordion" id="areaStep1_8">
    <p class="text01">
    長い歴史を持つイギリス。毎年ビザはすぐに発給限度数に達っし2011年は2時間で発給限度数に達した。　イングランド、北アイルランド、ウェールズ、スコットランドの連合王国からなりそれぞれに歴史と文化が違う。英語の発音で出身地がわかるほどだ。	</p>
    <p class="text01">
    アートやファッション、音楽、スポーツなどの文化的楽しみが多く、首都ロンドンは世界の金融の街としても有名。　そのため物価はワーキングホリデー開催国の中でも最も高く、留学生の入国規制も設け、エリート教育の方針に政府も向かっている。　文化の楽しみとして4月1日のエイプリルフールはテレビ会社や新聞会社が「ウソ」を報道したりする。サッカー、ラグビー、クリケットが国民スポーツ。　日本人の多くはロンドンに滞在する。地下鉄が発達しているのでちょっと郊外でも通勤通学出来るだろう。　イギリスに行きたい人は準備する費用は多く持って行かないとちょっと外食をすると芽目が飛び出るほど高く感じ、アルバイトが見つかるまでには持参したお金が底をついて帰国するイギリスワーキングホリデーもいる。　スコットランドなど北部では牧草地帯が絵のようで美しくフィンランドにもフェリーで行くことも出来る。
    </p>
  </div><!-- /#areaStep1_8 -->
	<div class="display-calendar">
		<div class="display-calendar-title">
			<span>ワーキングホリデーのオススメセミナー</span>
		</div>       
		<?php 
            //settings for the calendar module display
            $country_to_display = 'イギリス';
            $number_to_display = '2';
            $start_display_from = ''; //empty is begining
			display_horizontal_calendar($country_to_display,$number_to_display,$start_display_from);            
		?>
		<div class="img-calendar-display">
			<img src="images/calendar-display.png">
		</div>
	</div>

	<a class="step3_link_orange" href="/country/#li-uk">イギリスの情報をもっと見る</a>

	<div class="top-move"><p><a href="#header">▲ページのＴＯＰへ</a></p></div>
<?php include('./step/memline.php'); ?>