.ty-twishlist-item {
  text-align: center;
  height: 18px;
  margin-bottom: 10px;
}
.ty-grid-list__item:hover .ty-twishlist-item__remove {
  visibility: visible;
}
.ty-add-to-wish {
  display: inline-block;
  margin: 0;
}
@media (max-width: 767px) {
  .ty-wish-list__buttons .ty-btn {
    display: block;
    width: 100%;
  }
  .ty-wish-list__buttons .ty-btn + .ty-btn {
    margin: 15px 0 0;
  }
}
a:hover {
  color: #204d83;
}
.tygh-top-panel {
  position: relative;
}
.top-links-grid .top-currencies a,
.top-links-grid .top-languages a {
  color: #ffffff;
}
.top-links-grid .top-currencies a[class*="__active"],
.top-links-grid .top-currencies a.open,
.top-links-grid .top-currencies a:hover,
.top-links-grid .top-languages a[class*="__active"],
.top-links-grid .top-languages a.open,
.top-links-grid .top-languages a:hover {
  background: #102339;
}
.top-links-grid .top-currencies .ty-select-block,
.top-links-grid .top-languages .ty-select-block {
  background: #1b3b61;
  border-color: #102339;
}
.top-links-grid .top-currencies [class*="ty-icon"],
.top-links-grid .top-languages [class*="ty-icon"] {
  color: #ffffff;
}
.top-links-grid .ty-text-links__active a {
  color: #ffffff;
}
.top-links-grid .ty-text-links__a:hover {
  color: #4985cc;
}
.top-links-grid .ty-dropdown-box__title .ty-icon-down-micro,
.top-links-grid .ty-dropdown-box__title a {
  color: #ffffff;
}
.top-links-grid .ty-dropdown-box__title:hover,
.top-links-grid .ty-dropdown-box__title.open {
  background: transparent;
}
.top-cart-content .ty-dropdown-box__title,
.top-cart-content .ty-dropdown-box__title.open {
  padding: 10px 11px 10px 8px;
  background-color: #ffd82d;
}
.top-cart-content .ty-dropdown-box__title .ty-minicart-title,
.top-cart-content .ty-dropdown-box__title .ty-minicart__icon,
.top-cart-content .ty-dropdown-box__title .ty-icon-down-micro,
.top-cart-content .ty-dropdown-box__title.open .ty-minicart-title,
.top-cart-content .ty-dropdown-box__title.open .ty-minicart__icon,
.top-cart-content .ty-dropdown-box__title.open .ty-icon-down-micro {
  color: #484d58;
}
.top-cart-content .ty-dropdown-box__title .ty-minicart__icon,
.top-cart-content .ty-dropdown-box__title.open .ty-minicart__icon {
  top: 10px;
}
.top-cart-content .ty-dropdown-box__content {
  border-color: #c1cbd2;
  margin-top: 3px;
}
.top-cart-content .ty-dropdown-box__content .ty-cart-items__list-item a {
  color: #2a64ac;
}
.ty-dropdown-box__content .ty-text-links {
  margin: 0;
}
.ty-dropdown-box__content .ty-text-links__item {
  margin: 0;
  padding: 0;
  display: block;
}
.ty-dropdown-box__content .ty-text-links__a {
  display: block;
  padding: 6px 10px;
  color: #3a7dcf;
}
.ty-dropdown-box__content .ty-text-links__a:hover {
  color: white;
  background: #3a7dcf;
}
.top-links-grid .ty-dropdown-box {
  margin: 0;
}
.ty-cart-content__buttons {
  background: white;
  border-top: 1px solid #edf0f2;
}
.ty-text-links-btn {
  color: #ffffff;
}
.ty-text-links-btn.open {
  background: transparent;
}
@media screen and (max-width: 767px) {
  .ty-text-links__item {
    display: block;
  }
  .ty-text-links .ty-text-links__a {
    color: #3a7dcf;
  }
  .ty-text-links .ty-text-links__a:hover {
    color: #204d83;
  }
}
.ty-search-magnifier {
  background-color: #ffd82d;
  height: 33px;
  width: 33px;
  top: 0;
  right: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #484d58;
}
.ty-search-magnifier:hover {
  background-color: #ffe160;
}
.top-search {
  margin-top: 4px;
}
input.ty-search-block__input {
  border: none;
}
input.ty-search-block__input:focus {
  border: none;
}
.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link {
  color: #3a7dcf;
}
.ty-menu__item {
  border-right: 1px solid #d8dfe3;
}
.ty-menu__item.visible-phone {
  border-right: none;
}
.ty-menu__item-toggle {
  color: #3a7dcf;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link {
  color: #777E8F;
}
.ty-menu__items {
  background-color: #edf0f2;
}
@media screen and (min-width: 747px) and (max-width: 1000px) {
  .ty-menu__item .ty-menu__item-link {
    padding: 13px 10px;
  }
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a {
  background: transparent;
  color: #c44e00;
  padding: 0;
}
@media screen and (max-width: 747px) {
  .ty-menu__item-toggle:hover {
    color: #2a64ac;
  }
  .ty-menu__item-toggle {
    height: 46px;
  }
  .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header {
    text-transform: none;
  }
  .ty-menu__submenu-item-header .ty-menu__submenu-link {
    font-weight: normal;
  }
  .ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items,
  .ty-menu-vertical .ty-menu__items,
  .ty-menu__item {
    border: 0;
  }
}
@media screen and (min-width: 747px) {
  .no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link,
  .ty-menu-vertical .ty-menu__submenu .is-hover-menu > .ty-menu__submenu-item-header .ty-menu__item-link {
    color: #fff;
  }
}
.ty-breadcrumbs__a {
  color: #3a7dcf;
}
.ty-breadcrumbs__a:hover {
  color: #c44e00;
}
.ty-breadcrumbs__current {
  color: #777E8F;
}
.ty-mainbox-title,
.ty-mainbox-simple-title {
  color: #c44e00;
}
.ty-grid-list__item-name {
  max-width: 100%;
  padding-right: 0;
  display: block;
  text-align: center;
}
.ty-grid-list__item-name .product-title {
  color: #3a7dcf;
}
.ty-grid-list__item-name .product-title:hover {
  color: #c44e00;
}
.ty-grid-list__price {
  max-width: 100%;
  float: none;
  display: block;
  text-align: center;
}
.ty-grid-list__item .ty-grid-list__image img:hover {
  transform: matrix(1.1,0,0,1.1,0,0);
}
.grid-list__rating {
  text-align: center;
}
.grid-list__rating .ty-stars {
  margin-right: 0;
}
.ty-price-num {
  font-weight: normal;
}
.ty-list-price {
  font-size: 14px;
  color: #c44e00;
}
.ty-discount-label {
  left: 5px;
  right: auto;
  top: 5px;
}
.ty-btn {
  padding: 6px 18px;
  text-transform: none;
  line-height: 17px;
}
.ty-btn__big {
  padding: 11px 20px;
  font-size: 17px;
  line-height: 14px;
}
.ty-btn__primary {
  background: #ffd82d;
  color: #484d58;
  padding: 8px 15px;
}
.ty-btn__primary:hover {
  background: #ffe160;
  color: #3d414a;
}
.ty-btn__secondary {
  background: #3a7dcf;
  padding: 8px 15px;
}
.ty-btn__secondary:hover {
  background: #4f8bd4;
}
.ty-btn__tertiary {
  color: #3a7dcf;
  border: 1px solid white;
}
.ty-btn__tertiary:hover {
  color: #3a7dcf;
  background: #ffd82d;
}
.ty-btn__text {
  padding: 0;
}
.ty-product-filters__wrapper {
  background: transparent;
}
.ty-product-filters__item {
  color: #3a7dcf;
}
.ty-product-filters__item:hover {
  color: #c44e00;
}
.ty-product-filters__switch {
  padding-right: 25px;
}
.ty-product-filters__switch> i {
  margin-right: -18px;
}
.ty-product-filters__item.disabled,
.ty-product-filters__item.checked.disabled,
.ty-product-filters__item.disabled:hover {
  color: #9399a6;
}
.ty-product-filters__group label.disabled,
.ty-product-filters__group label.disabled > input {
  color: #bdc0c9;
}
.ty-range-slider .ui-slider-handle {
  background-color: #ffd82d;
}
@media screen and (min-width: 747px) and (max-width: 1000px) {
  .ty-range-slider__num {
    font-size: 9px;
  }
}
@media screen and (max-width: 400px) {
  .ty-sort-dropdown__wrapper {
    font-size: 12px;
  }
}
.ty-sort-container {
  background: transparent;
  border: 1px solid #edf0f2;
  padding: 3px 10px;
}
.ty-sidebox__title {
  background-color: #edf0f2;
  padding: 2px 30px 7px 12px;
  border: 1px solid #cfd7dd;
  margin: 0;
}
.ty-sidebox__title-wrapper,
.ty-sidebox__title a,
.ty-sidebox__title span {
  color: #777E8F;
  font-weight: normal;
}
.ty-sidebox__body {
  border: 1px solid #cfd7dd;
  border-top: none;
  padding: 10px 12px;
}
.ty-mainbox-title {
  color: #c44e00;
}
.ty-tabs {
  border-bottom: 2px solid #e4e9ec;
}
.ty-tabs__item {
  background-color: #edf0f2;
  border: 1px solid #cfd7dd;
  border-bottom: none;
}
.ty-tabs__item.active,
.ty-tabs__item:hover {
  background-color: #4f8bd4;
}
.ty-tabs__item.active .ty-tabs__a,
.ty-tabs__item:hover .ty-tabs__a {
  color: white;
}
.ty-tabs__a {
  padding: 10px 23px 8px 20px;
  font-size: 18px;
  height: 27px;
  color: #777E8F;
}
.ty-tabs__content {
  border: 1px solid #e7ebee;
  border-top: none;
  padding: 15px 10px;
}
.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover span:before {
  color: #3a7dcf;
}
.ty-product-block-title {
  color: #c44e00;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}
.ty-product-block .ty-list-price {
  color: #cbced4;
}
.ty-product-block__button .ty-btn {
  margin-right: 10px;
}
.ty-product-block__button .ty-btn+ .ty-btn {
  margin-left: 0;
}
.ty-qty-in-stock,
.ty-qty-out-of-stock {
  font-weight: normal;
}
.ty-cart-content__left-buttons {
  line-height: 42px;
}
.ty-cart-content__right-buttons .ty-btn__primary {
  height: 40px;
  line-height: 40px;
  padding: 0px 35px;
  font-size: 16px;
}
.ty-step__title,
.ty-step__title-active,
.ty-step__title-complete {
  padding: 8px;
  border: 1px solid #cfd7dd;
}
.ty-step__title .ty-step__title-txt,
.ty-step__title-active .ty-step__title-txt,
.ty-step__title-complete .ty-step__title-txt {
  color: #777E8F;
}
.ty-step__title .ty-btn,
.ty-step__title-active .ty-btn,
.ty-step__title-complete .ty-btn {
  background: none;
  border: none;
  padding: 0;
  color: #3a7dcf;
}
.ty-step__title-left {
  padding: 0px 5px;
  font-size: 14px;
  border: 1px solid;
  color: #777E8F;
  background: #cfd7dd;
}
.ty-step__title-complete .ty-step__title-left {
  border: none;
}
.ty-step__title-arrow {
  color: #3a7dcf;
  text-shadow: 0 1px 0 #3175c9;
  display: none;
}
.ty-step__title-active {
  background: #3a7dcf;
  border: 1px solid #2a64ac;
}
.ty-step__title-active .ty-step__title-txt {
  color: #ffffff;
}
.ty-step__title-txt {
  font-size: 14px;
}
.ty-step__container-active .ty-step__title-left {
  color: #ffffff;
  background: #6398d9;
}
.ty-step__container-active {
  background: transparent;
}
.ty-step__body-active {
  margin-top: -10px;
  border: 1px solid #edf0f2;
}
.ty-checkout-buttons {
  background: transparent;
  border: none;
  padding: 17px 20px;
}
.ty-checkout-buttons .ty-btn__secondary {
  background-color: #ffd82d;
  color: #484d58;
  border: none;
}
.ty-checkout-buttons .ty-btn__secondary:hover {
  color: #777E8F;
}
.ty-cr-phone-number-link .ty-cr-phone,
.ty-cr-phone-number-link .ty-cr-phone-prefix {
  color: #ffffff;
}
.ty-cr-link a {
  color: #ffffff;
}
.ty-cr-link a:hover {
  color: #8cb3e3;
}
.ty-cart-total {
  background: #f6f7f8;
}
.ty-cart-statistic__total-list {
  margin: 15px -20px -17px;
  padding: 0 20px 9px;
  background: #edf0f2;
  border-top-color: white;
}
.ty-cart-statistic__title {
  color: #777E8F;
}
.ty-cart-statistic__value {
  color: #c44e00;
}
.ty-cart-statistic__total-title,
.ty-cart-statistic__total {
  color: #777E8F;
  font-size: 20px;
  font-weight: 600;
}
.ty-cart-statistic__total {
  color: #c44e00;
}
.ty-sidebox__body .bottom-copyright {
  color: #777E8F;
}
.ty-compare-menu__elem {
  background: #3a7dcf;
}
.ty-footer-menu__header {
  font-weight: normal;
  color: #3a3e47;
}
.ty-footer-menu__item a {
  color: #3a7dcf;
}
.ty-footer-menu__item a:hover {
  color: #c44e00;
}
.footer-copyright {
  background: #3674bf;
  border-top: 2px solid #d1d4e4;
}
.footer-copyright .bottom-copyright {
  color: white;
}
.footer-copyright a:hover {
  color: #99bae2;
}
.footer-stay-connected {
  border-bottom: 2px solid #d1d4e4;
}
.footer-stay-connected a:hover {
  color: white;
}
.ty-footer-menu__header,
.ty-footer-general__header {
  font-size: 18px;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
.ty-qty-in-stock,
.ty-qty-out-of-stock {
  font-weight: normal;
}
.ty-logo-container {
  margin-top: 7px;
}
.ty-search-magnifier {
  height: 33px;
  width: 33px;
  top: 0;
  right: 0;
  border-radius: 5px;
}
.ty-menu__item > .ty-menu__item-link {
  font-size: 15px;
}
.ty-tabs__content {
  border-top: none;
  padding: 15px 10px;
}
.content-description {
  line-height: 1.7;
}
.ty-discount-label {
  left: 5px;
  right: auto;
  top: 5px;
}
.ty-horizontal-product-filters {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .ty-sidebox__title-toggle {
    right: 14px;
  }
}
@media (min-width: 767px) {
  .ty-menu-vertical .ty-menu__submenu [class*="menu-level-"].ty-menu__item-active > .ty-menu__submenu-item-header .ty-menu__item-link {
    color: #fff;
  }
}
