#header {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-left: 5px;
}
h1 {
	height: 33px;
	width: 410px;
	margin-top: 20px;
	margin-left: 25px;
	float: left;
	margin-bottom: 22px;
}
#utility-nav {
	float: right;
	height: 30px;
	width: 160px;
	margin-top: 20px;
	margin-right: 5px;
}

#header ul {
	display: inline;
	height: 30px;
	width: 80px;
	padding:20px;
}
#utility-nav li{
	display:inline;	
}
#utility-nav li a {
	display: block;
	float: left;
	background-image: url(../images/utility-nav.jpg);
	background-repeat: no-repeat;
	height: 30px;
	text-indent: -9999px;
	z-index:0;
}
.u-nav01 a {
	background-position: 0px 0px;
	width: 79px;
}
.u-nav01 a:hover {
	background-position: 0px 100%;
}
.u-nav00 a {
	width: 80px;
	background-position: -79px 0px;
}
.u-nav00 a:hover {
	cursor:pointer;
	background-position: -79px 100%;
}
.u-nav02 a {
	position:relative;
	left:79px;
	width: 80px;
	background-position: -158px 0px;
}
.u-nav02 a:hover {
	background-position: -158px 100%;
}
.u-nav03 a {
	position:relative;
	top:30px;
	right:1px;
	width: 80px;
	background-position: -237px 0px;
}
.u-nav03 a:hover {
	background-position: -237px 100%;
}
.u-nav04 a {
	position:relative;
	top:30px;
	left:79px;
	width: 80px;
	background-position: -316px 0px;

}
.u-nav04 a:hover {
	background-position: -316px 100%;
}


#top-mainimg {
	margin-bottom: 40px;
	height: 170px;
	width: 970px;
	display:inline-block;
	z-index:-1;
}

#footer {
	height: 150px;
	background-color: #000033;
	clear: both;
	text-align: center;
}
#copyright {
	position:relative;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	padding:20px;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
}

#global-nav {
	width: 240px;
	float: left;
	background-color: #F2F2F2;
	margin-right: 20px;
	margin-bottom: -30000px;
	padding-bottom: 30000px;

}
.g-n-sec02 {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
#g-n-main01 {
	margin-bottom: 50px;
	height:100%;
}

#g-n-main01 li a {
	display: block;
	background-image: url(../images/rollover_r3_c2.jpg);
	background-repeat: no-repeat;
	width: 220px;
	text-indent: -99999px;
}
#g-n-main01 .gnm01 a {
	height: 40px;
	width: 220px;
	background-position: 0px 0px;
}
#g-n-main01 .gnm01 a:hover {
	background-position: 100% 0px;
}
#g-n-main01 .gnm02 a {
	height: 40px;
	width: 220px;
	background-position: 0px -39px;
}
#g-n-main01 .gnm02 a:hover {
	background-position: 100% -39px;
}
#g-n-main01 .gnm03 a {
	height: 40px;
	width: 220px;
	background-position: 0px -78px;
}
#g-n-main01 .gnm03 a:hover {
	background-position: 100% -78px;
}
#g-n-main01 .gnm04 a {
	height: 40px;
	width: 220px;
	background-position: 0px -117px;
}
#g-n-main01 .gnm04 a:hover {
	background-position: 100% -117px;
}
#g-n-main01 .gnm05 a {
	height: 40px;
	width: 220px;
	background-position: 0px -156px;
}
#g-n-main01 .gnm05 a:hover {
	background-position: 100% -156px;
}
#g-n-main01 .gnm06 a {
	height: 40px;
	width: 220px;
	background-position: 0px -195px;
}
#g-n-main01 .gnm06 a:hover {
	background-position: 100% -195px;
}
#g-n-main01 .gnm07 a {
	height: 40px;
	width: 220px;
	background-position: 0px -234px;
}
#g-n-main01 .gnm07 a:hover {
	background-position: 100% -234px;
}
#g-n-main01 .gnm08 a {
	height: 40px;
	width: 220px;
	background-position: 0px -273px;
}
#g-n-main01 .gnm08 a:hover {
	background-position: 100% -273px;
}
#g-n-main01 .gnm09 a {
	height: 20px;
	width: 220px;
	background-position: 0px -330px;
	margin-top: 15px;
}
#g-n-main01 .gnm09 a:hover {
	background-position: 100% -330px;
}
